.experience {
  background-color: #191919;
  width: 100vw;
  height: 100vh;
  min-height: 820px;
  padding: 4% 5%;
  position: relative;
}
.experience__cover {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: 0.6;
}
.experience__page-name {
  display: flex;
  justify-content: center;
}
.experience__page-name__container {
  position: relative;
}
.experience__page-name__container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;
  white-space: nowrap;
}
.experience__page-name__container .experience__page-name__line {
  position: absolute;
  right: 0;
  margin-top: 5px;
  width: 90px;
  height: 3px;
  background: #f4fa1a;
}
.experience .experience__content__div__line {
  width: 100%;
  height: 3px;
  background: #f4fa1a;
  margin: 25px 0;
}
.experience__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 160px;
}
.experience__content__div {
  width: 640px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 20px;
}
.experience__content__div h3 {
  margin-bottom: 40px;
}
.experience__content__div h3 span {
  color: #f4fa1a;
}
.experience__content__div p {
  margin: 15px 0;
  line-height: 23px;
}

.experience:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(23, 23, 23) 0%, rgba(23, 23, 23, 0) 5%);
}

.experience:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(23, 23, 23) 0%, rgba(23, 23, 23, 0) 5%);
}

@media screen and (min-width: 0px) and (max-width: 150px) {
  .experience__page-name h2 {
    font-size: 4rem;
  }
  .experience__page-name__line {
    width: 7.6rem !important;
    margin-top: 0;
  }
  .experience__content {
    margin-top: 40px;
  }
  .experience__content__div {
    padding: 15px 10px;
  }
  .experience__content__div__line {
    margin: 15px 0 !important;
  }
  .experience__content__div h3 {
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  .experience__content__div p {
    margin: 10px 0;
    font-size: 1.4rem;
    line-height: 12px;
  }
}
@media screen and (min-width: 151px) and (max-width: 200px) {
  .experience__page-name h2 {
    font-size: 3.6rem;
  }
  .experience__page-name__line {
    width: 6.8rem !important;
    margin-top: 0;
  }
  .experience__content {
    margin-top: 45px;
  }
  .experience__content__div {
    padding: 15px 5px;
  }
  .experience__content__div__line {
    margin: 15px 0 !important;
  }
  .experience__content__div h3 {
    margin-bottom: 20px;
    font-size: 1.25rem;
  }
  .experience__content__div p {
    margin: 10px 0;
    font-size: 1.3rem;
    line-height: 13px;
  }
}
@media screen and (min-width: 201px) and (max-width: 280px) {
  .experience__page-name h2 {
    font-size: 3.8rem;
  }
  .experience__page-name__line {
    width: 6.4rem !important;
  }
  .experience__content {
    margin-top: 50px;
  }
  .experience__content__div {
    padding: 15px 7px;
  }
  .experience__content__div h3 {
    margin-bottom: 18px;
    font-size: 1.25rem;
  }
  .experience__content__div p {
    margin: 9px 0;
    font-size: 1.2rem;
    line-height: 14px;
  }
}
@media screen and (min-width: 281px) and (max-width: 350px) {
  .experience__page-name h2 {
    font-size: 3.7rem;
  }
  .experience__page-name__line {
    width: 6.3rem !important;
  }
  .experience__content {
    margin-top: 55px;
  }
  .experience__content__div {
    padding: 15px 10px;
  }
  .experience__content__div h3 {
    margin-bottom: 18px;
    font-size: 1.25rem;
  }
  .experience__content__div p {
    font-size: 1.2rem;
    line-height: 17px;
    margin: 10px 0;
  }
}
@media screen and (min-width: 351px) and (max-width: 400px) {
  .experience__page-name h2 {
    font-size: 3.6rem;
  }
  .experience__page-name__line {
    width: 6.2rem !important;
  }
  .experience__content {
    margin-top: 60px;
  }
  .experience__content__div {
    padding: 15px;
  }
  .experience__content__div h3 {
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  .experience__content__div p {
    font-size: 1rem;
    line-height: 20px;
  }
}
@media screen and (min-width: 401px) and (max-width: 470px) {
  .experience__page-name h2 {
    font-size: 3.5rem;
  }
  .experience__page-name__line {
    width: 6.1rem !important;
  }
  .experience__content {
    margin-top: 65px;
  }
  .experience__content__div {
    padding: 20px 15px;
  }
  .experience__content__div h3 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  .experience__content__div p {
    font-size: 1rem;
    line-height: 21px;
  }
}
@media screen and (min-width: 471px) and (max-width: 550px) {
  .experience__page-name h2 {
    font-size: 3.4rem;
  }
  .experience__page-name__line {
    width: 6rem !important;
  }
  .experience__content {
    margin-top: 70px;
  }
  .experience__content__div {
    padding: 30px 15px;
  }
  .experience__content__div h3 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  .experience__content__div p {
    font-size: 1rem;
    margin: 10px 0;
  }
}
@media screen and (min-width: 551px) and (max-width: 600px) {
  .experience__page-name h2 {
    font-size: 3.3rem;
  }
  .experience__page-name__line {
    width: 5.9rem !important;
  }
  .experience__content {
    margin-top: 70px;
  }
  .experience__content__div h3 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  .experience__content__div p {
    font-size: 1rem;
    margin: 10px 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 740px) {
  .experience__page-name h2 {
    font-size: 3.2rem;
  }
  .experience__page-name__line {
    width: 5.7rem !important;
  }
  .experience__content {
    margin-top: 100px;
  }
  .experience__content__div h3 {
    font-size: 1.2rem;
  }
  .experience__content__div p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 741px) and (max-width: 970px) {
  .experience__page-name h2 {
    font-size: 2.9rem;
  }
  .experience__page-name__line {
    width: 5.3rem !important;
  }
  .experience__content__div h3 {
    font-size: 1.15rem;
  }
  .experience__content__div p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 971px) and (max-width: 1280px) {
  .experience__page-name h2 {
    font-size: 2.77rem;
  }
  .experience__page-name__line {
    width: 5.18rem !important;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .experience__page-name h2 {
    font-size: 2.66rem;
  }
  .experience__page-name__line {
    width: 4.99rem !important;
  }
}
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .experience__page-name h2 {
    font-size: 2.65rem;
  }
  .experience__page-name__line {
    width: 4.97rem !important;
  }
}