@mixin experience {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.experience {
  background-color: #191919;
  width: 100vw;
  height: 80vh;
  padding: 53px 95px;
  position: relative;

  &__cover {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0.6;
  }

  &__page-name {
    display: flex;
    justify-content: center;
    &__container {
      position: relative;
      h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 63px;
      }
      .experience__page-name__line {
        position: absolute;
        right: 0;
        margin-top: 5px;
        width: 90px;
        height: 3px;
        background: #f4fa1a;
      }
    }
  }

  .experience__content__div__line {
    width: 100%;
    height: 3px;
    background: #f4fa1a;
    margin: 25px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    &__div {
      width: 640px;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 30px;
      border-radius: 20px;
      h3 {
        margin-bottom: 40px;
        span {
          color: #f4fa1a;
        }
      }
      p {
        margin: 15px 0;
      }
    }
  }
}

.experience:after {
  @include experience;
  background: linear-gradient(
    180deg,
    rgba(23, 23, 23, 1) 0%,
    rgba(23, 23, 23, 0) 5%
  );
}

.experience:before {
  @include experience;
  background: linear-gradient(
    0deg,
    rgba(23, 23, 23, 1) 0%,
    rgba(23, 23, 23, 0) 5%
  );
}
