@mixin a {
  a {
    transition: color 0.4s;
    text-decoration: none;
  }
  a:link {
    color: #ffffff;
  }
  a:visited {
    color: #ffffff;
  }
  a:hover {
    color: #a9a8a8;
  }
}

header {
  width: 100vw;
  height: 92px;
  position: fixed;
  top: 0;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 0 95px;
  z-index: 2;
  nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;

    h4 {
      cursor: pointer;
      color: #ffffff;
      span {
        color: #f4fa1a;
      }
    }

    .second-header-div {
      ul {
        display: flex;
        gap: 15px;

        li {
          @include a;
          list-style: none;
        }
        li:nth-of-type(1) {
          a {
            color: #f4fa1a !important;
          }
          a:hover {
            color: rgba(244, 250, 26, 0.6) !important;
          }
        }
      }
    }
  }
}
